.ant-card-head-title {
  font-size: 25px;
}

.count {
  font-size: 20px;
}
.info-box {
  padding: 10px;
  background-color: #efe5dc;
}
.imageIcons {
  color: mediumslateblue;
}

.text-info{
padding-top: 32px;
}
