.map-style{
    color: red;
    background-color: white;
    height: 40px;
    width: 55px;
    text-align: center;
    border-radius: 20%;
}
.map-span{
    color: black;
     margin: 0;
      padding: 0;
}