
.space{
margin-bottom: 16px;
margin-top: 10px;
}
.inputState{
height: 35px;
}


.nextPrev{
    border: none;
    background-color: inherit;
}
@media screen and (max-width: 768px){
    .space.search{
        position: relative;
        top: -30px;
    }
    .table-main{
        position: relative;
        top: -30px;
        overflow-x: auto;

    }
    .space.num{
        position: relative;
        top: -15px;
    }
}