

.homeScreen{
    margin-top: 5%;
    background-image:url('orna.png') ;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 20% 90%;
    text-align: center;
    padding: 2% 10%;
}

.homeScreen h1{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 4rem;
}

.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row2{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}