.formBox{
    padding-top: 2%;
    text-align: center;
    width: 30%;
    /* border: 2px solid; */
    margin: 18vh 34vw;
    border-radius: 2%;
    background: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
}

.heading{
    font-size: 3rem;
}

.switch{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 20%;
    height: 6vh;
    font-size: 1rem;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
    position: relative;
    bottom: -15%;
    border-radius: 15%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.switch:hover{
    color: red;
    background-color: rgb(255, 255, 255,0);
    border: 2px red solid;
}